<%- include('../ejsShared/head.ejs') %>
    <link rel="stylesheet" href="../../style/forms.css">
    </head>

    <body>
        <%- include('../ejsShared/navbar.ejs') %>

            <main>
                <form class="login-form" action="/login" method="POST">
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="form-control">
                        <label for="password" Password></label>
                        <input type="password" name="password" id="password">
                    </div>

                    <button class="btn " type="submit ">Log-in</button>
                </form>
            </main>
            <%- include('../ejsShared/end.ejs') %>